@import url('https://fonts.googleapis.com/css?family=Patua+One');
@import url('"https://fonts.googleapis.com/css?family=Roboto:400,700"');


$display-font-family: 'Patua One', sans-serif;
$base-font-family: Roboto, sans-serif;
$base-line-height: 1.8;
$base-font-size: 16px;

$site-background-blue: #205165;
$site-white-color: #FEFDFE;
$site-mid-dark: #82848C;
$site-mid-light: #9F9BFA;
$site-accent-dark: #D7D1D4;
$site-accent-light: #D29998;
$spacing-unit: $base-font-size * $base-line-height / 2;


/* global css goes here */
body {
  background-color: $site-mid-dark;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;

}

.title-display {
  color: $site-white-color;
  font-family: $display-font-family;
  font-size: 109px;
  line-height: height;
}

.introduction {
  color: $site-white-color;
}


.index-footer { 
  border-top: 2px solid $site-accent-dark;  
 }


/*  module css goes here */



/* element css goes here */