@import url('https://fonts.googleapis.com/css?family=Patua+One');
@import url('"https://fonts.googleapis.com/css?family=Roboto:400,700"');
@font-face {
  font-family: 'Gotham Bold';
  src: url('public/fonts/gotham-bold.ttf') format('truetype');
}

$display-font-family: 'Bebas Neue', sans-serif;
$base-font-family: 'Roboto', sans-serif;
$base-line-height: 1.8;
$base-font-size: 16px;

$site-dark-color: #000500;
$site-white-color: #F5FBEF;
$site-mid-dark: #2D3047;
$site-mid-light: #639FAB;
$site-accent-dark: #748B75;
$spacing-unit: $base-font-size * $base-line-height / 2;


/* global css goes here */
body {
  background: linear-gradient(to left, #283048 , #859398);
  font-family: $base-font-family;
  font-size: $base-font-size;
}


.title-display {
  color: $site-white-color;
  font-family: $display-font-family;
  font-size: 160px;
  line-height: height;

}

.introduction {
  color: $site-white-color;
}

.index-footer {
  margin-top: 20px; 
  position: inline-grid;
  width: 90%;
  bottom: 0px;
  border-top: 2px solid $site-accent-dark; 
  text-align: center;
  font-size: 13px;
  font-family: "Raleway";
  line-height: 45px;
 }


/*  module css goes here */



/* element css goes here */