<section>
  <h1>Select all the traits that you correspond to: </h1>
</section>
<main>
  <form action="/char" method="post">
   <% @chars.each do |char| %>
   <input type="checkbox" name="characteristic"><%= char.name %><br>
   <% end %>
   <input type="submit" value="Submit" class="btn btn-primary btn-lg round">
 </form>
</main>
<footer>
  <p>&copy; 2016 KoolKats, Inc.</p>
</footer>

