<section>
  <h1 class="char-title">Select all the traits that you correspond to: </h1>
</section>
<main>
  <div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
    <ul class="list-group checked-list-box">
     <% @chars.each do |char| %>
     <li class="list-group-item" id="bootstrap-overrides"> <%= char.name %></li>
     <% end %>
   </ul>
   </div>
   <div class="col-med-4">
   </div>
  
 </div>
  <input type="submit" value="Submit" class="btn btn-primary btn-lg round">
</main>
<footer>
  <p>&copy; 2016 KoolKats, Inc.</p>
</footer>

