<section>
  <h1>Top 10 last words</h1>
</section>
<main>
  <div>
    <button type="button">Like</button>
    <p>Number of votes</p>
    <p>Hard cheese manchego taleggio. Cow queso squirty cheese brie camembert de normandie</p>
  </div>
  <div>
    <button type="button">Like</button>
    <p>Number of votes</p>
    <p>Hard cheese manchego taleggio. Cow queso squirty cheese brie camembert de normandie</p>
  </div>
  <div>
    <button type="button">Like</button>
    <p>Number of votes</p>
    <p>Hard cheese manchego taleggio. Cow queso squirty cheese brie camembert de normandie</p>
  </div>
  <div>
    <button type="button">Like</button>
    <p>Number of votes</p>
    <p>Hard cheese manchego taleggio. Cow queso squirty cheese brie camembert de normandie</p>
  </div>
  <div>
    <button type="button">Like</button>
    <p>Number of votes</p>
    <p>Hard cheese manchego taleggio. Cow queso squirty cheese brie camembert de normandie</p>
  </div>
  <div>
    <button type="button">Like</button>
    <p>Number of votes</p>
    <p>Hard cheese manchego taleggio. Cow queso squirty cheese brie camembert de normandie</p>
  </div>
  <div>
    <button type="button">Like</button>
    <p>Number of votes</p>
    <p>Hard cheese manchego taleggio. Cow queso squirty cheese brie camembert de normandie</p>
  </div>
  <div>
    <button type="button">Like</button>
    <p>Number of votes</p>
    <p>Hard cheese manchego taleggio. Cow queso squirty cheese brie camembert de normandie</p>
  </div>
  <div>
    <button type="button">Like</button>
    <p>Number of votes</p>
    <p>Hard cheese manchego taleggio. Cow queso squirty cheese brie camembert de normandie</p>
  </div>
  <div>
    <button type="button">Like</button>
    <p>Number of votes</p>
    <p>Hard cheese manchego taleggio. Cow queso squirty cheese brie camembert de normandie</p>
  </div>
</main>
<footer>
  <p>&copy; 2016 KoolKats, Inc.</p>
</footer>


