<section>
  <h1 class="era-title">Choose an era</h1>
</section>
<main>
  <section class="row">
    <% @eras.each do |era| %>
      <a href="/era/<%=era.id%>">
        <div class="col-md-2">
          <%=era.name%>
        </div>
      </a>
    <% end %>
  </section>
</main>
