<section>
<h1>Choose an era:</h1>
</section>
<main>
<a href="">
  <figure>
    <img src="https://images.unsplash.com/photo-1467348733814-f93fc480bec6?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=2635f17894dffc22d8073624dad76875">
  </figure></a>
  <figure>
    <img src="https://unsplash.com/photos/6roxyet376g">
  </figure>
  <figure>
    <img src="https://unsplash.com/photos/vCNyOMNsWa8">
  </figure>
  <figure>
    <img src="https://unsplash.com/photos/4kEW68FZ154">
  </figure>
</main>
<footer>
  <p>&copy; 2016 KoolKats, Inc.</p>
</footer>