<section>
<h1>Choose an era:</h1>
</section>
<main>
  <figure>
    <img src="https://unsplash.com/photos/4XWi39Bys8k">
  </figure>
  <figure>
    <img src="https://unsplash.com/photos/6roxyet376g">
  </figure>
  <figure>
    <img src="https://unsplash.com/photos/vCNyOMNsWa8">
  </figure>
  <figure>
    <img src="https://unsplash.com/photos/4kEW68FZ154">
  </figure>
</main>
<footer>
  <p>&copy; 2016 KoolKats, Inc.</p>
</footer>