<section>
  <h1>Choose an era:</h1>
</section>
<main>
  <section class="row">
    <div class="col-md-1">
    </div>
    <% @eras.each do |era| %>
      <a href="/era/<%=era.id%>">
        <div class="col-md-2">
          <%=era.name%>
        </div>
      </a>
    <% end %>
    <div class="col-md-1">
    </div>
  </section>
</main>
