<!-- Script for basic integration with Facebook. Likely replaced later with the full login script -->
<!-- TODO: Utilise the full login script - must check if I can hide my authentication tokens and info.  -->
<!-- TODO: Check in with omniauth facebook -->
<% erb :'_facebook_script' %>

<!-- Main Index Content Goes Here -->
<main>
  <section class="banner">
    <h1 class="title-display">Once Upon A Time...</h1>
  </section>
</main>

<aside>
  <section class="homepage-text">
    <p class="introduction">
      Welcome to "Once Upon a Time...". Through our complicated physical and psychological assessments, we'll determine your likliness of survival in specific time periods during history. We'll require some basic information from you, if you would like to proceed, please authenticate below!  
    </p>
  </section>  
</aside>

<section class="facebook-login">
  <a href="/auth/facebook">Login with facebook</a>
</section>

<footer class="index-footer">
  <p>&copy; 2016 KoolKats, Inc.</p>
</footer>
