<!-- Script for basic integration with Facebook. Likely replaced later with the full login script -->
<!-- TODO: Utilise the full login script - must check if I can hide my authentication tokens and info.  -->
<!-- TODO: Check in with omniauth facebook -->
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '644001135749135',
      xfbml      : true,
      version    : 'v2.7'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>

<h1>Home Page</h1>
