<!-- Script for basic integration with Facebook. Likely replaced later with the full login script -->
<!-- TODO: Utilise the full login script - must check if I can hide my authentication tokens and info.  -->
<!-- TODO: Check in with omniauth facebook -->

<% erb :'_facebook_script' %>

<!-- Main Index Content Goes Here -->
<main>
  <section class="site-graphic">
    <h1>Would you have survived?</h1>
  </section>
</main>

<aside>
  <section>
    <p>
      Welcome to "Once Upon a Time...". Through our complicated physical and psychological assessments, we'll determine your likliness of survival in specific time periods during history. We'll require some basic information from you, if you would like to proceed, please authenticate below!  
    </p>
  </section>
</aside>

<section>
  <a href="/auth/facebook">Login with facebook</a>
</section>

<footer>
  <p>&copy; 2016 KoolKats, Inc.</p>
</footer>