
<section>
  <h1 class=user-info-title>Health Information</h1>
</section>

<main>
 <p class="facebook-name"> Hi, <%= session[:user].name %> </p>
 <div class="row">
   <div class="col-md-4">
   </div>

    <div class="col-md-4">
      <form method="post" action="/user">
        <fieldset class="form-group">
         <label> Weight </label>
         <input type="text" name="weight" class="form-control" placeholder="Weight in kg">
       </fieldset>
       <fieldset class="form-group">
         <label>Height </label>
         <input type="text" name="height" class="form-control" placeholder="Height in cm">
       </fieldset>
      <a href="/char">
      <button type="submit" class="btn btn-primary hvr-push">Submit</button></a>
     </form>
     </div>
    <div class="col-md-4">
    </div>
  </div>
</main>
