<section>
  <h1 class=user-info-title>User Information</h1>
</section>
<main>
  <p class="facebook-name"> Hi, <%= session[:user].name %> </p>
  <div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
  <form method="post" action="/user">
    <fieldset class="form-group">
      <label> Weight </label>
      <input type="text" name="weight" class="form-control" placeholder="Weight in kg">
    </fieldset>
    <fieldset class="form-group">
      <label>Height </label>
      <input type="text" name="height" class="form-control" placeholder="Height in cm">
    </fieldset>
     <div class="col-med-4">
   </div>
 </div>
  
  </form>

</main>
 <div class="user-info-button">
  <a href="/era">
   <button type="button" class="btn btn-primary">Submit</button></a>
   </div>

