<section>
  <h1>User Information</h1>
</section>
<main>
  <form method="post" action="/user/new">
    <div>
      <label> Weight: </label>
      <input type="text" name="weight">
      <label>kg</label>
    </div>
    <div>
      <label>Height: </label>
      <input type="text" name="height">

      <label>cm</label>

    <div>
      <input type="submit" value="Submit">
    </div>
  </form>
</main>
<footer>
  <p>&copy; 2016 KoolKats, Inc.</p>
</footer>