<section>
  <h1>User Information</h1>
</section>
<main>
  <form method="post" action="/info/new">
    <div>
      <label> Weight: </label>
      <input type="text" name="weight">
    </div>
    <div>
      <label>Height: </label>
      <input type="text" name="height">
    </div>
    <div>
      <input type="submit" value="Submit">
    </div>
  </form>
</main>
<footer>
  <p>&copy; 2016 KoolKats, Inc.</p>
</footer>