<main>

<h1 class="center-head">Your Fate</h1>

<section class="cmt">
  <div>
    <p class="user-name"><%= session[:user].name %>...</p>
  </div>

  <div>
    <p class="result-text">
      <%= @result.body %>
    </p>
  </div>
</section>



<form class="last-word" method="post" action="/comment/new/<%= @result.id %>">
  <div class="margin-bot">
    <h3 class="subtitle">Any last words?</h3>
    <input type="text" class="form-control input-h " name="body">
  </div>
  <div>
    <input type="submit" value="Submit" class="btn btn-primary btn-lg round">
  </div>
</form>

</main>
