<section>
  <h1>Your Fate</h1>
</section>
<main>

  <div>
    <p>You died because...</p>
  </div>

  <div>
      <p>
        <%= @result.body %>
      </p>
  </div>


  



  <div>
    <form method="post" action="/comment/new">
      <div>
        <label>Any last words?</label>
        <input type="text" name="last_words" >
      </div>
      <div>
        <input type="submit" value="Submit">
      </div>
      <div>
        <button type="button">Share on Facebook</button>
      </div> 
    </form>
  </div>
  <div><a href="/comment" >See top 10 last words</a></div>
</main>
<footer>
  <p>&copy; 2016 KoolKats, Inc.</p>
</footer>