<section>
  <h1>Your Fate</h1>
</section>
<main>
  <div>
    <p>You died because...</p>
  </div>
  <div>
    <p>
      Zombie ipsum reversus ab viral inferno, nam rick grimes malum cerebro. De carne lumbering animata corpora quaeritis. Summus brains sit​​, morbo vel maleficia? De apocalypsi gorger omero undead survivor dictum mauris.
    </p>
  </div>
  <div>
    <form method="post" action="/comment/new">
      <div>
        <label>Any last words?</label>
        <input type="text" name="last_words">
      </div>
      <div>
        <input type="submit" value="Submit">
      </div>
      <div>
        <button type="button">Share on Facebook</button>
      </div> 
    </form>
  </div>
  <div><p>See top 10 last words</p></div>
</main>
<footer>
  <p>&copy; 2016 KoolKats, Inc.</p>
</footer>