<main>

<h1 class="center-head">Your Fate</h1>

<section class="cmt">
  <div>
    <p>You <span class="died">died</span> because...</p>
  </div>

  <div>
    <p>
      <%= @result.body %>
    </p>
  </div>
</section>



<form class="last-word" method="post" action="/comment/new/<%= @result.id %>">
  <div class="margin-bot">
    <h3 class="center-head">Any last words?</h3>
    <input type="text" class="form-control input-h " name="body">
  </div>
  <div>
    <input type="submit" value="Submit" class="btn btn-primary btn-lg round">
  </div>
</form>

</main>

<footer>
  <p>&copy; 2016 KoolKats, Inc.</p>
</footer>